@model blog.Models.Posts

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="container mt-3">
    @using (Html.BeginForm("Edit", "PostsAdmin", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.BlogImage)
            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, "Blog Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "Content" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BlogImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    <input type="file" name="BlogImage" id="BlogImage2" hidden />
                    <div class="position-relative" style="width: max-content">
                        <img src="~/Uploads/@Model.BlogImage" width="250" height="200" class="img-thumbnail image-blog" />
                        <label for="BlogImage2" class="position-absolute badge-light" style="top: -5px;right:-5px;padding: 4px 6px;border-radius:99px;cursor:pointer"><i class="bi bi-pencil"></i></label>
                    </div>

                    @Html.ValidationMessageFor(model => model.BlogImage, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

    }


</div>

<script>
    CKEDITOR.replace("Content")



    var fileToRead = document.querySelector("#BlogImage2")
    fileToRead.addEventListener("change", function (event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.querySelector(".image-blog");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
        $('#BlogImage2').value = ''

    }, false);
</script>



